body{
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.high{
    margin-bottom: -20px;
}
.colorful{
color: gold;
}
.flexible{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(sandybrown, gold);
    padding: 10px 50px;
    color: white;
    font-weight: 800;
    border-radius: 6px;
}
#lining{
    border-left: 6px solid red;
    padding-left: 2%;
}
.link{
    margin-top: 27px;
}
.ektu-niche{
    margin-top: 40px;
}
#golden{
color: gold;
}
.mission{
    font-size: 40px;
    font-weight: 900;
    padding-left: 5%;
    text-align: center;
}
.pictures img{
    width: 50%;
}
#box-1{
    width: 350px;
    text-align: justify;
    margin-right: 12px;
    margin-left: 12px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 18px;
    background-color: rgb(193, 224, 210);
}
#box-2{
    width: 350px;
    text-align: justify;
    margin-right: 12px;
    margin-left: 12px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 18px;
    background-color: rgb(248, 248, 183);
}
#box-3{
    width: 350px;
    text-align: justify;
    margin-right: 12px;
    margin-left: 12px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 18px;
    background-color: rgb(255, 178, 204);
}
h2{
    font-size: 40px;
    font-weight: 700;
}
.develop{
    width: 50%;
    padding-left: 5%;
}
.footer-background{
    margin-top: 40px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 0;
}
#red{
    color: red;
}
.text h3{
    font-family: 'The Nautigal', cursive;
}